header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 15vh;
    background-color: var(--secondary_color);
    color: var(--ground_black);
}

header ul {
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--ground_black);
}