
#home{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .input{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 83vh;
    max-height: 85vh;
    width: 20%;
    font-size: 400%;

}

#home .input .start {
    position: absolute;
    background-color: transparent;
    border: none;
    inset: 0;
    color: var(--ground_black);
}
#home .input .start:focus {
    outline: none;
}

#home .input .start .blur{
    z-index: 1;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(15px);
    box-shadow: inset 0px 0px 11px 11px var(--primary_color);
}

#home .input .start p{
    position: relative;
    z-index: 901;
    font-size: 200%;
    background-color: var(--secondary_color);
    color: var(--ground_black);
    width: min(10rem, 100%);
    aspect-ratio: 1/1;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home .input .start p:hover{
    cursor: pointer;
}

#home .input .calcul{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    width: 100%;
    border-bottom: 5px solid var(--cacti_color);
}

#home .input .calcul .sign{
    position: absolute;
    bottom: 0;
    left: 0;
}

#home .input .calcul span{
    text-align: right;
}

#home .input input{
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 100%;
}

#home .input input:focus{
    outline: none;
}

@media screen and (prefers-contrast: more) {
    #home .input input:focus{
        outline: 1px solid var(--cacti_color);
    }
}

/* hide arrows
 Chrome, Safari, Edge, Opera */
#home input::-webkit-outer-spin-button,
#home input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
 
/* Firefox */
#home input[type=number] {
    -moz-appearance: textfield !important;
}

#home .input .time{
    font-size: 30%;
    text-align: right;
    width: 100%;
}

#home .input .submit-button{
    background-color: var(--secondary_color);
    color: var(--ground_black);
    border: 5px solid var(--secondary_color);
    outline: none;
    font-size: 20%;
    padding: 5%;
    transition: all 0.5s;
    border-radius: 1em;
    margin-top: 15%;
}


#home .input .submit-button:hover{
    transform: scale(1.2);
}

#home #results{
    width: 100%;
}
#home #results h1{
    position: relative;
    transform: translateY(-100%);
    z-index: 1000;
    width: fit-content;
}
#home #results h1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 120%;
    width: 1rem;
    aspect-ratio: 1/1;
    border-bottom: var(--cacti_color) 10px solid;
    border-right: var(--cacti_color) 10px solid;
    transform: rotate(45deg);
    animation: downArrow 1s infinite alternate;
}

@keyframes downArrow{
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(45deg) translate(1rem, 1rem);
    }
}
#home .data{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#home #results h1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 120%;
    width: 1rem;
    aspect-ratio: 1/1;
    border-bottom: var(--cacti_color) 10px solid;
    border-right: var(--cacti_color) 10px solid;
    transform: rotate(45deg);
}
#home #results table{
    font-size: 150%;
    border-collapse: collapse;
    width: 60%;
}
#home #results td,#home #results th{
    text-align: center;
    padding: 2% 1%;
    width: 20%;
}

#home #results tr{
    border-bottom: 1px solid var(--cacti_color);
}
#home #results tr.correct{
    color: var(--cacti_color);
}
#home #results tr.incorrect{
    color: var(--kangaroo_orange);
}
#home #results tr.incorrect td:nth-of-type(2){
    text-decoration: line-through;
}

#home .data .chart{
    width: 60vw;
}

@media screen and (orientation:portrait){
    #home .input{
        width: 80%;
    }
    #home .input .calcul{
        width: 100%;
    }
    #home .input .calcul .sign{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #home .input .calcul span{
        text-align: right;
    }
    #home .input input{
        width: 100%;
        text-align: right;
    }
    #home .input input:focus{
        outline: none;
    }
    #home .input .time{
        font-size: 30%;
        text-align: right;
        width: 100%;
    }
    #home .data{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #home #results table{
        font-size: 150%;
        border-collapse: collapse;
        width: 100%;
    }
    #home #results td,#home #results th{
        text-align: center;
        padding: 2% 1%;
        width: 20%;
    }
    #home .data .chart{
        width: 100%;
    }
    #home .data .chart canvas{
        width: 100%;
    }
}